#header{
  background-color: tan;
}
#quote{
  background-color: green;
}
#content{
  background-color: blue;
}
#content #main{
  background-color: red;
}
#content #sidebar{
  background-color: yellow;
}
#footer{
  background-color: purple;
}